{% extends 'layout.html.twig' %}
{% block content %}
<div class="container">
    <h1>Résultats:</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">Résultat de votre recherche</li>
    </ol>
</div>
{% endblock content %}